<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/static/home/css/public.css">
    <link rel="stylesheet" href="/static/home/css/login.css">
</head>

<body>
    <form action="" id="loginForm">
        <h2><a href="javascript:history.go(-1);">&lt; &nbsp;Welcome to login</a></h2>
        <div class="row">
            <label for="userName">用户名</label>
            <input type="text" id="userName" name="username">
        </div>
        <div class="row">
            <label for="password">密码</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="row">
            <div class="col">注册</div>
            <div class="col">登录</div>
        </div>
    </form>

    <script src="/static/home/js/font.js"></script>
    <script src="/static/home/js/jquery-3.1.1.min.js"></script>
    <script>
        $(function () {
            $('.row:last .col:first').on('click', function () {
                window.location.href = 'register';
            });
            $('.row:last .col:last').on('click', function () {
                login();
            });
            $('input').keypress(function(e) {
                if (e.which == 13) {
                    login();
                }
            });
        })

        function login() {
            $.ajax({
                url: 'login',
                type: 'post',
                dataType: 'json',
                data: $("#loginForm").serialize(),
                success: function (data) {
                    if (data.state) {
                        alert(data.msg);
                        window.location.href = "/";
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
    </script>
</body>

</html>